.cards{
   display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
   gap: 5px;
}

.one {
    background-color: aquamarine;
    text-align: center;
    padding-top: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.two{
    background-color: aquamarine;

    text-align: center;
    padding-top: 35px;
    grid-column: 2/3;
}
.tree{
    background-color: aquamarine;
    text-align: center;
    padding-top: 35px;
    grid-column: 3/4;
   
}
@media (max-width:1000px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;  
    }
    .one{
        grid-column: 1/2;
        grid-row: 1/2;
    
        
    }
    .two{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .tree{
        grid-column: 1/3;
        grid-row: 2/3;

    }
}
@media (max-width:500px){
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        }
        gap: 18px;  
    one{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .two{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .tree{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

