body{
    background-color:#1d242d ;
    height: 100vh;
    
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 9%;
    align-items: center;


 
}
.list{
    text-decoration: none;
    color: #f3f5fa;
}

.head{
    color:#f3f5fa ;
    font-weight: bolder;
    margin: 25px 25px;

}
.list a{
    text-decoration: none;
    color: #f3f5fa ;
    font-family: monospace;
    font-weight: bolder;
     cursor: pointer;
}
